body{
    font-family: "Open Sans" !important; 
    font-size: 18px;
    font-variant: normal;
    font-weight: 700;
    /* background-image: url('../Img/splash.jpg'); */
    /* background-size: cover; */
    width: 100%;
}

.AppOnline{
    position: absolute;
    margin-bottom: 0.5rem;
    margin-right: 0.5rem;
    padding: 0.5rem;
    bottom: 0px;
    right: 0px;
    background-color :rgb(0, 255, 42);
    border-radius: 25px;
}

.AppOffline{
    position: absolute;
    margin-bottom: 0.5rem;
    margin-right: 0.5rem;
    padding: 0.5rem;
    bottom: 0px;
    right: 0px;
    background-color: red;
    border-radius: 25px;
}

.container{
    background: rgba(245, 235, 222, 0.50);
    border-radius: 5px;
    padding: 15px;
}

.btn{
    margin-top: 15px;
}

.bg-wk{
    background-color: #07325a!important;
    color: #FFF;
}

.text-xxs{
    font-size: x-small!important;
}

a {
    color: #00AB93;
}

.navbar {
    margin-bottom: 0;
    border-radius: 0;
    color: #000;
}

.list-group-item.active {
    background-color:#00AB93;
    border-color:rgb(1, 134, 117);
}

td.details-control {
    background: url('Img/details_open.png') no-repeat center center;
    cursor: pointer;
}

tr.shown td.details-control {
    background: url('Img/details_close.png') no-repeat center center;
}
